#homeDiv{
    border: 2px solid green;
}

#headDiv{
    border: 2px solid red;

}

.userDiv{
    padding:2px;
    border-radius: 30px;
    border:2px solid black;
}

.userImg{

    border-radius: 50px;


}